body{
    background-color: #2980b9;
    font-family: "Lato";
    z-index: 10;
}

.content{
    margin-left: 135px;
    width: 700px;
    color: #ecf0f1;
    .content_element1{
        margin-bottom: 80px;
        h1{
            font-size: 64px;
            font-weight: 900;
            margin-bottom: 10px;
        }
        h2{
            font-size: 26px;
        }
    }
    .content_element2{
        margin-bottom: 50px;
        line-height: 28px;
    }
    .content_element3{
        font-size: 12px;

        a{
            color: #ecf0f1;
            text-decoration: underline;
        }
        
    }
}
.content_element4{
    margin: 55px 0px 45px 0px;
    ul{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        li{
        border: 1px solid #ecf0f1;
        padding: 10px;
        margin-left: 10px;
            a{
                color: #ecf0f1;
                &:hover{
                    color: #2c3e50;
                }
            }
        }
    }
}

.content_element5{
    width: 1200px;
    padding: 20px 30px;
    z-index: 10;
    ul{
        display: flex;
        flex-wrap: wrap;
        z-index: 5;
        li{
            width: 400px;
            height: 300px;
            // float: left;
            position: relative;
            display: flex;
            cursor: pointer;
            Overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
            &:hover{
                img{
                    transform: translateY(-10%);  
                }
                .effect1{
                    .infor{
                        display: block;
                    }
                    height: 100px;
                }
            }
            .effect1{
                // display: none;
                z-index: 15;
                transition: all 0.3s;
                position: absolute;
                width: 400px;
                height: 0px;
                bottom: 0;
                &::before{
                    display: block;
                    content: '';
                    width: 400px;
                    height: 100%;
                    background: rgba(rgb(221, 91, 210),0.9);
                    position: absolute;
                    top: 0;
                }
                .infor{
                    display: none;
                    width: 400px;
                    position: absolute;
                    top: 20px;
                    text-align: center;
                    font-family: "Lato";
                    color: #fff;
                    h2{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}